// Colors
// --------------------------
$white: #fff;
$black: #1e1c1e;
$error: #f41c50;
$info: #00b6ca;
$success: #6ce620;
$warning: #ffd703;

// Buttons
// --------------------------
$button-font-size: 1.6rem;
$button-border: 0.1rem solid $info;
$button-bg: $white;
